@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
.body03 {
  background-color: #333;
  overflow: hidden;
}
.container-03 {
  font-family: "Lato", sans-serif;
  background-color: #fafafa;
  transform-origin: top right;
  transition: transform 0.5s linear;
  padding: 5rem;
}
.container-03.show-nav {
  transform: rotate(-20deg);
}
.circle03-container {
  position: fixed;
  top: -10rem;
  right: -10rem;
}
.circle03 {
  background-color: #ff7979;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}
.container-03.show-nav .circle03 {
  transform: rotate(-205deg);
}
.circle03 button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 60%;
  height: 10rem;
  background-color: transparent;
  border: 0;
  font-size: 2.6rem;
  color: #fff;
}
.circle03 button:focus {
  outline: none;
}
.circle03 button#open {
  left: 20%;
}
.circle03 button#close {
  top: 55%;
  transform: rotate(-90deg);
  transform-origin: top left;
}
.container-03.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}
.nav03 {
  position: fixed;
  bottom: 4rem;
  left: 0;
  z-index: 10;
}
.nav03 ul {
  list-style-type: none;
  padding-left: 3rem;
}
.nav03 ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 4rem 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
  font-weight: bold;
}
.nav03 ul li i {
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.nav03 ul li + li {
  margin-left: 1.5rem;
  transform: translateX(-150%);
}
.nav03 ul li + li + li {
  margin-left: 3rem;
  transform: translateX(-200%);
}
.nav03 a {
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}
.nav03 a:hover {
  color: #ff7979;
  font-weight: bold;
}
.content img {
  max-width: 100%;
}
.content {
  max-width: 100rem;
  margin: 5rem auto;
  text-align: justify;
}
.content h1 {
  margin: 1rem 0;
}
.content h3 {
  margin: 2rem 0;
}
.content small {
  color: #555;
  font-style: italic;
}
.content p {
  color: #333;
  line-height: 1.5;
  margin: 2.5rem 0;
}

/* || Icone hamburguer menu */
.menu-icon03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.bar03 {
  width: 100%;
  height: 0.8rem;
  background-color: #fff;
  margin-bottom: 0.5rem;
  border-radius: 0.8rem;
}

/* || Icone X */
.close-icon03 {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.5rem;
}
.line03 {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  background-color: #fff;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  border-radius: 0.8rem;
}
.line103 {
  transform: rotate(05deg);
}
.line203 {
  transform: rotate(-85deg);
}
