.body-39 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.background-39 {
  background: url('https://images.unsplash.com/photo-1556745757-8d76bdb6984b')
    no-repeat center center/cover;
  position: absolute;
  top: -2rem;
  bottom: -2rem;
  left: -2rem;
  right: -2rem;
  z-index: -1;
  filter: blur(2rem);
}

.form-box-39 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  color: #000;
  width: 44rem;
  height: 44rem;
  border-radius: var(--border-radius);
}
.form-box-39 h1 {
  font-weight: 500;
  font-size: 3.4rem;
}
.form-box-39 p {
  font-weight: 300;
  color: #464646;
  margin-top: 2rem;
}

.inputs-39 {
  width: 80%;
  text-align: justify;
  align-self: center;
  font-size: 2rem;
}
.inputs-39 label {
  display: block;
}
.inputs-39 input {
  border: #3333333a solid 1px;
  border-radius: 0.6rem;
  width: 100%;
  height: 5rem;
  margin-top: 2rem;
  padding-left: 2rem;
}
.inputs-39 input:focus {
  border: #2424c4 solid 2px;
}

.form-box-39 button {
  background-color: #333;
  color: #fff;
  width: 80%;
  align-self: center;
  height: 5rem;
  border-radius: 0.6rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.form-box-39 button:hover {
  transform: scale(1.01);
}
.form-box-39 button:active {
  border: #2424c4 solid 2px;
  transform: scale(0.99);
}
