.container-06 {
  background-color: #cdcdcd76;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
  padding-bottom: 2rem;
}
.container-06 h1 {
  font-size: 3rem;
  margin-top: 2rem;
}
.box-06 {
  width: 40rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 3rem;
  border-radius: var(--border-radius);
  background: linear-gradient(to right, #a695c7, #7d6aa9);
  box-shadow: 0 6px 10px #333;
  transform: translateX(400%);
  transition: transform 0.4s ease;
}
.box-06:nth-of-type(even) {
  transform: translateX(-400%);
}
.box-06.show-06 {
  transform: translateX(0);
}
