body {
  height: fit-content;
  overflow: auto;
  /* border: 4px solid rgb(0, 255, 132); */
}
* {
  outline: 2px solid rgba(184, 13, 13, 0.462);
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  /* border: 4px solid rgb(255, 0, 225); */
}
:root {
  --border-radius: 1.8rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
  padding: 1rem;
  transition: all 0.6s ease;
  opacity: 0;
}
/* Efeito */
.container.opacity {
  transition-delay: 0.1s;
  opacity: 1;
}

.item {
  /* width: 30rem; */
  height: 20rem;
  flex-grow: 1;
  border: 1px solid #c0c0c06f;
  /* box-shadow: 0 4px 8px #c0c0c06f; */
  border-radius: var(--border-radius);
  text-align: justify;
  word-wrap: break-word;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: all 0.3s ease-in-out;
}
.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  /* background: linear-gradient(to bottom, #b4f3e975, #f4d6cc67, #f7e0b23c); */
  color: #333;
}
