.container-04 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#e6ccff, #cc99ff, #b366ff, #9933ff, #8000ff);
}
.imput-search04 {
  width: 0rem;
  height: 5rem;
  font-size: 1.8rem;
  background-color: #fff;
  transition: all 0.2s ease-out;
  border-radius: 1rem 0 0 1rem;
  border: none;
  padding: 0;
}
.imput-search04.open04 {
  width: 20rem;
  transition: all 0.2s ease-in;
  padding-left: 1rem;
}
.btn-04 {
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  background-color: #fff;
}
.btn-04.open04 {
  transition: all 0.4s;
  border-radius: 0 1rem 1rem 0;
}
.btn-04 img {
  height: 5rem;
  width: 5rem;
  padding: 1rem;
}
