@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
  --primary-color-17: #262948;
  --secondary-color-17: #333530;
}

.body-17 {
  display: grid;
  grid-template-rows: 8rem 1fr;
  grid-template-areas:
    "header"
    "main";
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.header-17 {
  grid-area: header;
  background-color: var(--primary-color-17);
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
.main-17 {
  grid-area: main;
  background-color: var(--secondary-color-17);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* || botao */
.header-17 button {
  height: 5rem;
  width: fit-content;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  border: 3px solid var(--secondary-color-17);
  border-radius: var(--border-radius);
  color: #fff;
  transition: 0.2s linear;
}
.header-17 button:hover {
  background-color: var(--secondary-color-17);
}
.header-17 button:active {
  background-color: var(--primary-color-17);
}

/* || input */
.header-17 input {
  height: 5rem;
  width: 22rem;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 3px solid var(--secondary-color-17);
  padding: 0 1.5rem;
  font-size: 1.6rem;
  color: #fff;
  transition: 0.2s linear;
}
.header-17 input:focus {
  background-color: var(--secondary-color-17);
}
.header-17 input:hover {
  background-color: var(--secondary-color-17);
}

/* || Card filme */
.movie-17 {
  width: 30rem;
  margin: 1rem;
  background-color: var(--primary-color-17);
  box-shadow: 0 4px 5px #00000033;
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
}
.movie-info-17 {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  padding: 1rem 1rem 1rem;
  letter-spacing: 0.2rem;
}
.movie-info-17 span {
  background-color: var(--secondary-color-17);
  padding: 0.6rem 0.6rem;
  border-radius: var(--border-radius);
  font-weight: bold;
}

.green-17 {
  color: #adff2f;
}
.orange-17 {
  color: #ffa500;
}
.red-17 {
  color: #ff0000;
}

.overview-17 {
  background-color: #d3d3d3;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
  text-align: justify;
}
.overview-17 h3 {
  margin: 1rem;
  font-weight: bold;
  color: var(--primary-color-17);
}
.movie-17:hover .overview-17 {
  transform: translateY(0);
}
