/* || Botao voltar */
.back {
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  margin: 1rem;
  z-index: 1000;
}
.back {
  display: flex;
  height: 3em;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: var(--border-radius);
  letter-spacing: 1px;
  transition: all 0.3s linear;
  border: 1px solid #c0c0c06f;
  cursor: pointer;
  /* border: none; */
  background: #fff;
}

.back > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.back:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

.back:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}
